
body{
    background-color: rgb(255, 255, 255);    
}
@font-face {
    font-family: 'Technology';
    src: url(./src/fonts/technology/Technology-Bold.ttf);
}

#canvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}





#foxhead{
    fill: green;
 
}
#foxbody{
     fill: green;

}
.sclera{
    fill:  rgb(236, 236, 236);
}
.cornea{
    fill: rgb(0, 95, 0);
}

p{
    color: green;  
    font-family: 'Technology' ,sans-serif;
    border-top: 3px solid green;
    font-size: 25px;
    padding: 10px 150px;
    align-items: center;
    margin-top: 1px;
}

#loading{
    display: inline-block;
    width: 1em; 
    text-align: left;
}
#loading::after {
    
    content: ''; 
    animation: loading-dots 1.5s infinite steps(4); 
}

@keyframes loading-dots {
   
    0% {
        content: ''; 
    }
   
    25% {
        content: '.'; 
    }
    
    50% {
        content: '..'; 
    }
    
    75% {
        content: '...'; 
    }
    100% {
        content: '....'; 
    }
}